fastapi>=0.111.0
uvicorn>=0.30.1
watchfiles>=0.24.0
pydantic>=2.7.4
numpy>=1.26.4
opencv-python>=4.8.0
mediapipe>=0.10.9
scikit-learn>=1.4.0
tensorflow>=2.16.0
matplotlib>=3.8.0
httpx>=0.27.0

websockets>=14.0
